
/* Resetting the browser default styles */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body {
    font-family: Arial;
    width: 90%;
    margin: 30px auto 0 auto;
    
}

/* HEADING SECTION */
.heading {
    margin: 10px 0;
}

/* INPUT SEARCH BOX SECTION*/
.search-section {
    background-color: #6461a0;
    padding: 10px;
}

#search {
    width: 100%;
    padding: 12px 20px;
    border: none;
}

/* USER LIST SECTION */
.user-list-section {
    margin-top: 20px;
}

li {
    list-style: none;
    border: 1px solid #DDDDDD;
    margin-top: -1px; /*Prevent double borders*/
    font-size: 18px;
    background-color: #F6F6F6;
    padding: 12px;
    text-transform: capitalize;
}

li:hover {
    background-color: #EEEEEE;
}

/* Pill button for username */

.username {
    background-color: #6461a0;
    padding: 6px;
    color: #FFFFFF;
    font-size: 14px;
    border-radius: 5px;
}


/* MEDIA QUERY FOR LARGE SCREEN SIZE */
@media (min-width: 1000px) {
    body {
        width: 50%
    }

    li {
        font-size: 14px;
    }
}